--swiftversion 5.7
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--commas inline
--trimwhitespace always
--allman false
--self remove
--header strip
